
@{
    Layout = "_Layout";
    ViewBag.Title = "Customer Search";

}

<h1>Customer Search</h1>
<table id="customerTable" class="table table-hover"></table>

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#customerTable').DataTable({
                serverSide: true,
                searchDelay: 1000,
                searchHeaders: true,
                ajax: {
                    url: '/dt/customers',
                    dataSrc: 'data',
                    type: 'POST'
                },
                columns: [
                    {
                        data: 'customerId',
                        title: 'Customer ID'
                    },
                    {
                        data: 'accountNumber',
                        title: 'Account Number'
                    },
                    {
                        data: 'customerType',
                        title: 'Customer Type'
                    },
                    {
                        data: 'displayName',
                        title: 'Name'
                    }
                ]
            });
        });
    </script>
}
